In [8]:
acc_balance=500
print (acc_balance)

500

In [9]:
new_balance=acc_balance+200
print(new_balance)

700

In [10]:
name=("Hello,please input your username")
print("Hello",name)

Hello Hello,please input your username

In [11]:
num1=5
num2=2.1
#type()

print(type(num1))
print(type(num2))

<class 'int'>
<class 'float'>

In [12]:
num1=float(num1)
print(type(num1))

<class 'float'>

In [13]:
id_no='123456'
print(type(id_no))

<class 'str'>

In [14]:
x=2
y=2
#z=x+y
z=x+y

In [15]:
time=5
rate=10
total=time*rate
print(total)

50

In [16]:
hours=int(input("enter number of hours: "))
rate=int(input("enter gross pay per hour: "))
total=hours*rate

:

:

In [ ]:
hours=int(input(Enter number of hours: ))
rate=int(input(Enter gross pay per hour: ))
total=hours*rate
print(total)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (4292537669.py, line 1)

In [ ]:
 temperature=input("what is temperature in celsius?")

farenheit=(float(temperature)*9/5)+32
farenheit

IndentationError: unexpected indent (1972218813.py, line 1)

In [2]:
def squared(x):
    y=x**2
    print(y)

In [3]:
squared(5)

25

In [4]:
def (celsius)
    farenheit=(celsius*9/5)+32
    print(farenheit)

SyntaxError: invalid syntax (3675849122.py, line 1)

In [2]:
name='jesse'
name[0]

'j'

In [3]:
s='economics'
s=[0:3:5:7]

SyntaxError: invalid syntax (1138323327.py, line 2)

In [5]:
first_name='David'
second_name='Austin'
full_name=first_name+second_name
print(full_name)

DavidAustin

In [6]:
sentence='i love python programming'
print(sentence.split())

['i', 'love', 'python', 'programming']

In [7]:
sentence='we are going home,my home is in Embu'
print(sentence.split(','))

['we are going home', 'my home is in Embu']

In [9]:
#From stephen.marquard@ uct.ac.za Sat Jan 5 09:14:16 2008
line="From stephen.marquard@ uct.ac.za Sat Jan 5 09:14:16 2008"
words=line.split()
words

['From',
 'stephen.marquard@',
 'uct.ac.za',
 'Sat',
 'Jan',
 '5',
 '09:14:16',
 '2008']

In [11]:
email=words[1]
email

'stephen.marquard@'

In [13]:
at_index=email.find('@')
at_index

16

In [14]:
name=email[:16]
name

'stephen.marquard'

In [18]:
month= words[4]
month

'Jan'

In [21]:
fruits='banana'
fruits.find('a',2)

3

In [27]:
line="From mercy.mwangi@zindua.tech Sat Jun 711:13:00 2025"
words=line.split()
words

['From', 'mercy.mwangi@zindua.tech', 'Sat', 'Jun', '711:13:00', '2025']

In [28]:
email=words[1]
email

'mercy.mwangi@zindua.tech'

In [32]:
z_index=email.find("z")
z_index

13

In [35]:
organization=email[13::1]
organization

'zindua.tech'

In [36]:
print(re.findall(r'[aeiou]','Hello World'))

NameError: name 're' is not defined

In [ ]:
text=iput